/* body{
    background-image: url("https://media1.tenor.com/images/b0c4538c00890301f4f0d434f15f7b22/tenor.gif?itemid=14490278");
    background-size:cover;
    background-color:white;
    align-content: center;
    text-align: center;
}
.jumbotron{
    opacity:.6
}
.static {
    position: absolute;
    background: white;
     width: 50%;
    text-align: center;
}
.static:hover {
  opacity: 0;
}
.alphabet{
}
.static {
  position:absolute;
  background: white;
}
.static:hover {
  opacity:0;
} */