<!-- <!DOCTYPE html>
<html>
<head>
	<html lang="en">
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<title>Morse Translator</title>
	<link rel="stylesheet" type="text/css" href="/static/css/easter.css?q={{time}}">
    <link rel="shortcut icon" href="https://lh4.googleusercontent.com/i1RprwcvxhbN2TAMunNxS4RiNVT0DvlD9FNQCvPFuJ0=w140-h165-no" type="image/x-icon"
</head>
<body>
    <div>
	<div class="jumbotron">
        <h1 class="display-4">Translate here!</h1>
		<div class="input">
			<div class="input-group-prepend">
                <video src="./assets/nggyunglud.mp4" autoplay></video>
			</div>
		</div>
        <a href = "https://www.britannica.com/topic/Morse-Code">The Actual Link</a>
   <br>
   <br>
   <br>
   <br>
   <br> 
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
	</div>
    </div>
</body>
</html> -->