<!DOCTYPE html>
<html>
<head>
	<html lang="en">
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<title>Morse Translator</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css?q={{time}}">
    <link rel="shortcut icon" href="https://lh4.googleusercontent.com/i1RprwcvxhbN2TAMunNxS4RiNVT0DvlD9FNQCvPFuJ0=w140-h165-no" type="image/x-icon"-->
</head>
<body>
    <div>
	<div class="jumbotron">
        <h1 class="display-4">Translate here!</h1>
		<div class="input">
			<div class="input-group-prepend">
			</div>
			<form method="post" action="/results">
				<input type="text" name="input" placeholder="Enter message here in English."/>
                <input type="submit" value="Submit"/>
            </form>
		</div>
        <img class="static" src="https://i.pinimg.com/originals/ce/14/0d/ce140df64af1feddcc35e376eab0fb9d.gif">
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><p><h1>What is Morse Code?</h1></p></a>
    <p><h3>Morse code has been used since the 1800s in the invention of the telegram which had made means of communication much quicker than the postal system. Morse code uses a series of clicks and beeps to create an alphabet of letters. For example, a dash or a beep would represent the letter I. Morsecode is used today as a means of communication amongst the military and generally anyone who wants to use it. Enjoy!</h3></p>
   <br>
   <br> 
   <br>
   <br>
   <br>
   <br>
   <br>
	</div>
    </div>
</body>
</html>